<!DOCTYPE html>
<html lang="ko" xmlns xmlns:th="http://www.w3.org/1999/xhtml" :th="http://thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>게시글 상세 화면</title>
    <script src="https://code.jquery.com//jquery-3.4.1.js"></script>
    <link th:href="@{/css/style.css}" rel="stylesheet" type="text/css">
</head>
<body>
<div class="container">
    <h2 class="title">게시글 작성</h2>
    <table class="board_detail">
        <tr class="detail_head head1">
            <td class="head_title">글 번호</td>
            <td th:text="${board.boardNum}"></td>
            <td class="head_title">조회수</td>
            <td th:text="${board.hitCnt}"></td>
        </tr>
        <tr class="detail_head head2">
            <td class="head_title">작성자</td>
            <td th:text="${board.writer}"></td>
            <td class="head_title">작성일</td>
            <td th:text="${board.createdTime}"></td>
        </tr>
        <tr class="detail_head head3">
            <td class="head_title">제목</td>
            <td class="head3_text" colspan="3"><input type="text" id="title" name="title" th:value="${board.title}"></td>
        </tr>
        <tr class="detail_head head4">
            <td class="head_title">내용</td>
            <td colspan="3"><textarea id="content" name="content" th:text="${board.content}"></textarea></td>
        </tr>
    </table>
    <div>
        <input type="hidden" id="boardNum" th:value="${board.boardNum}">
        <input type="hidden" id="commentWriter" th:value="${session.login.userId}">
        <input class="detail_btn btn" type="button" value="목록" id="goBackList" onclick="location.href='/boardListPage'">
        <input class="detail_btn btn" type="button" value="수정" id="update" onclick="updateBoard()">
        <input class="detail_btn btn" type="button" value="삭제" id="delete" onclick="deleteBoard()">
    </div>
    <div class="comment_container">
        <div class="comment_form">
            <p class="comment_title">comment</p>
            <input type="text" class="commentContent" id="commentContent">
            <input type="button" id="commentBtn" value="등록" onclick="insertComment()">
        </div>
        <div id = "getCommentList">
        </div>
    </div>
</div>
</body>
</html>
<script>

    // 게시글 boardNum
    const boardNum = document.getElementById("boardNum").value;

    // 게시글 삭제
    function deleteBoard() {
        loadAjax('/board', 'DELETE', {boardNum: boardNum}, true);
    }

    // 게시글 수정
    function updateBoard() {

        const detailList = {
            title: document.getElementById("title").value,
            content: document.getElementById("content").value,
            boardNum: boardNum
        }

        loadAjax('/board', 'PUT', detailList, true);
    }

    // 게시글 삭제 및 수정 ajax 동작
    function loadAjax(link, method, dataList, alertOK) {
        $.ajax({
            url: link,
            type: method,
            data: dataList,
            success: function () {
                if (alertOK) {
                    alert("성공 하였습니다.");
                    location.href="/boardListPage";
                }
            },
            error: function () {
                if (alertOK) {
                    alert("실패 하였습니다.")
                }
            }
        });
    }

    // 댓글 등록
    function insertComment() {

        const commentList = {
            boardNum: document.getElementById("boardNum").value,
            commentContent: document.getElementById("commentContent").value,
            commentWriter: document.getElementById("commentWriter").value
        }

        $.ajax({
            url: '/comment',
            type: 'POST',
            data: commentList,
            success: function() {
                alert("성공 하였습니다.")
                getCommentList();
                $(".commentContent").val("");
            },
            error: function() {
                alert("실패 하였습니다.");
            }
        });

    }

    // 초기 페이지 로딩시 댓글 불러오기
    $(document).ready(function(){
        getCommentList();
    });

    // 댓글 리스트 출력
    function getCommentList() {

        $.ajax({
            url: '/comment',
            type: 'GET',
            data: {boardNum: boardNum},
            success: function(data){
                let html = "";
                let cCnt = data.length;

                if(data.length > 0){
                    for (i = 0; i < data.length; i++) {
                        html += "<div class = 'comment_list'>";
                        html += "<div class='comment_list_title'>" + data[i].commentWriter + "</div>";
                        html += "<div class = 'comment_content" + data[i].commentNum + "'>" + data[i].commentContent + "</div>";
                        html += "<div class = 'comment_time'>" + data[i].commentRegTime + "</div>";
                        html += "<div class = 'comment_list_btn'>";
                        html += "<input type='button' class='comment_update" + data[i].commentNum + "' value='수정' onclick='commentUpdate(\"" + data[i].commentNum + "\", \"" + data[i].commentContent + "\")'>";
                        html += "<input type='button' class='comment_delete' value='삭제' onclick='commentDelete(\"" + data[i].commentNum + "\")'>";
                        html += "</div>";
                        html += "</div>";
                    }

                } else {
                    html += "<div class='comment_list_none'>";
                    html += "<div><p class = 'comment_list_title_none'>등록된 댓글이 없습니다.</p></div>";
                    html += "</div>";

                }

                $("#cCnt").html(cCnt);
                $("#getCommentList").html(html);

            }
        });

    }

    // 댓글 수정: 댓글 내용 출력을 input form으로 변경
    function commentUpdate(commentNum, commentContent) {
        let html = '';

        html += "<div class='comment_content_update'>";
        html += "<input type='text'  class='commentContent' id ='commentContent"+commentNum+"' value='"+ commentContent +"'/>"
        html += "<input type='button' id='commentBtn' value='완료' onclick='commentUpdatePro("+commentNum+")'/>";
        html += "</div>";

        $(".comment_content"+commentNum).html(html);
    }

    // 댓글 수정 데이터 전송
    function commentUpdatePro(commentNum) {

        $.ajax({
            url: '/comment',
            type: 'PUT',
            data: {commentContent: document.getElementById("commentContent"+ commentNum +"").value, commentNum: commentNum},
            success: function(){
                getCommentList();
            }
        });

    }

    // 댓글 삭제

    function commentDelete(commentNum) {

        $.ajax({
            url: '/comment',
            type: 'DELETE',
            data: {commentNum: commentNum},
            success: function() {
                alert("삭제되었습니다.");
                getCommentList();
            },
            error: function() {
                alert("삭제를 하지 못하였습니다.");
            }
        });

    }



</script>