<!DOCTYPE html>
<html lang="ko" xmlns xmlns:th="http://www.w3.org/1999/xhtml" :th="http://thymeleaf.org" :layout="http://www.ultraq.net.nz/thymeleaf/layout" layout:decorate="~{layout/defaultLayout}"
      xmlns:layout="http://www.w3.org/1999/xhtml">
<head>
    <meta charset="UTF-8">
    <title>게시글 상세 화면</title>
    <script src="https://code.jquery.com//jquery-3.4.1.js"></script>
    <link th:href="@{/css/style.css}" rel="stylesheet" type="text/css">
    <style>
        body {
            background-color: #eef3f2;
        }
    </style>
    <script>
        // 게시글 권한 설정 및 로그인안했을 시 Home 화면으로 이동
        let userId = "[[${session.userId}]]";

        if (userId === "") {
            alert("로그인해주세요.")
            location.href = "/loginPage"
        }
    </script>
</head>
<body>
<th:block layout:fragment="content">
    <div class="container">
        <h2 class="title">게시글 내용</h2>
        <div class="board_detail">
            <div class="detail_head">
                <label class="head_title">글 번호</label>
                <input type="text" class="detail_text" th:value="${board.boardNum}" readonly>
            </div>
            <div class="detail_head">
                <label class="head_title">조회수</label>
                <input type="text" class="detail_text" th:value="${board.hitCnt}" readonly>
            </div>
            <div class="detail_head">
                <label class="head_title">작성자</label>
                <input type="text" class="detail_text" th:value="${board.writer}" readonly>
<!--                id="board_detail_writer"-->
            </div>
            <div class="detail_head">
                <label class="head_title">작성일</label>
                <input type="text" class="detail_text" th:value="${#dates.format(board.createdTime, 'yyyy-MM-dd')}" readonly>
            </div>
            <div class="detail_head wide_width">
                <label class="head_title">제목</label>
               <input type="text" class="detail_text" id="title" name="title" th:value="${board.title}">
            </div>
            <div class="detail_head wide_width">
                <label class="head_title">내용</label>
                <textarea class="detail_text" id="content" name="content" th:text="${board.content}"></textarea>
            </div>
            <div class="detail_head ">
                <label class="head_title">다운로드</label>
                <div>
                    <th:block th:each="file : ${files}">
                        <div class="download_attach_div">
                            <a class="downloadFile file_attach" th:text="${file.fileOriginalName}" th:href="@{'/downloadFile/'+ ${file.fileNum}}">
                                <img src="../images/Download_alt_font_awesome.svg" alt="download_icon" class="detail_icon file_attach"></a>
                            <a><img src="../images/103181_close_remove_delete_cross_icon.png" alt="delete_icon" class="detail_icon file_attach"></a>
                        </div>
                    </th:block>
                </div>
            </div>
            <div class="like_dislike_container wide_width">
                <div class="like_container" id="like_container">
                    <th:block th:if="${likeDislike.likeCheck} == 0 or ${likeDislike.likeCheck} == 2">
                        <img src="../images/like_btn.png" id="likeBtn" onclick="like()"  style="width: 65px; height: 65px; cursor: pointer;">
                    </th:block>
                    <th:block th:unless="${likeDislike.likeCheck} == 0 or ${likeDislike.likeCheck} == 2">
                        <img src="../images/like_btn_click.png" id="likeBtn" onclick="like()" style="width: 65px; height: 65px; cursor: pointer;">
                    </th:block>
                    <div th:text="${likeDislike.likeCnt}" class="like_total_count" id="likeTotalCount"></div>
                </div>
                <div class="dislike_container" id="dislike_container">
                    <th:block th:if="${likeDislike.dislikeCheck} == 0 or ${likeDislike.dislikeCheck} == 2">
                        <img src="../images/dislike_btn.png" id="dislikeBtn" onclick="dislike()"  style="width: 65px; height: 65px; cursor: pointer;">
                    </th:block>
                    <th:block th:unless="${likeDislike.dislikeCheck} == 0 or ${likeDislike.dislikeCheck} == 2">
                        <img src="../images/dislike_btn_click.png" id="dislikeBtn" onclick="dislike()" style="width: 65px; height: 65px; cursor: pointer;">
                    </th:block>
                    <div th:text="${likeDislike.dislikeCnt}" class="dislike_total_count" id="dislikeTotalCount"></div>
                </div>
            </div>
        </div>

        <div class="hidden_values_container">
            <input type="hidden" id="boardNum" th:value="${board.boardNum}">
        </div>

        <div class="detail_btn_container" id="btn_container">
            <div class="detail_btn_box1" th:if="${board.writer == session.userId}">
                <input class="detail_btn" type="button" value="수정" id="update" onclick="updateBoard()">
                <input class="detail_btn" type="button" value="삭제" id="delete" onclick="deleteBoard()">
            </div>
            <input class="detail_btn detail_btn_box2" type="button" value="목록" id="goBackList"
                   onclick="location.href='/boardListPage'">
        </div>

        <div class="comment_container">
            <div class="comment_form">
                <p class="comment_title">comment
                    <span><img src="../images/comment_icon.svg" alt="comment_icon" style="width: 15px; height: 15px; margin-left: 6px; "></span>
                    <span th:inline="text" class="" id="comment_cnt" style="font-size: 12px; color: #EC5454FF;">[[${board.commentCount}]]</span>
                </p>
                <input type="text" class="commentContent" id="commentContent" placeholder="댓글을 입력하세요">
                <input type="button" id="commentBtn" value="등록" onclick="insertComment()">
            </div>
            <div id="getCommentList"></div>
        </div>
    </div>
</th:block>
</body>
</html>
<script th:src="@{/js/bDetail.js}" th:inline="javascript"></script>
