<!DOCTYPE html>
<html lang="ko" xmlns xmlns:th="http://www.w3.org/1999/xhtml" :th="http://thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>홈</title>
</head>
<body>
<div class="container">
    <h1>홈 화면</h1>
    <p th:if="${session.login == null}">
        <a th:href="@{/loginPage}">로그인</a>
    </p>
    <p th:unless="${session.login == null}">
        <a th:href="@{/memberLogout}">로그아웃</a>
        <a th:href="@{/boardListPage}">글목록</a>
    </p>
    <p><a th:href="@{/memberJoin}">회원가입</a></p>
</div>
</body>
</html>