<!DOCTYPE html>
<html lang="ko" xmlns xmlns:th="http://www.w3.org/1999/xhtml" :th="http://thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>홈</title>
    <link th:href="@{/css/style.css}" rel="stylesheet" type="text/css">
</head>
<style>
    body {
        background: #efa5a5;
    }
</style>
<body>
<div class="board_home">
    <p class="home_title">Home</p>
    <div class="home_section" th:if="${session.login == null}">
        <a class="home_btn" th:href="@{/loginPage}">Login</a>
    </div>
    <div class="home_section" th:unless="${session.login == null}">
        <p class="home_user_text" th:inline="text">[[${session.login.userId}]] 님 어서오세요</p>
        <a class="home_btn" th:href="@{/userLogout}">Logout</a>
        <a class="home_btn" th:href="@{/boardListPage}">Board</a>
    </div>
    <div class="home_section bottom_btn">
        <p><a class="home_btn bottom_btn" th:href="@{/userJoinPage}">Join</a></p>
    </div>
</div>
</body>
</html>