<!DOCTYPE html>
<html lang="ko" xmlns xmlns:th="http://www.w3.org/1999/xhtml" :th="http://thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>회원가입</title>
    <script src="https://code.jquery.com//jquery-3.4.1.js"></script>
    <link th:href="@{/css/style.css}" rel="stylesheet" type="text/css">
</head>
<style>
    body {
        background: #ddeae6;
    }
</style>
<body>
<div class="board_join">
    <p class="join_title">Create Account</p>
    <div class="join_table">
        <div class="join_section">
            <p><input type="text" id="userName" class="join_btn" placeholder="Name"></p>
        </div>
        <div class="join_section">
            <p><input type="text" id="userEmail" class="join_btn" placeholder="Email"></p>
        </div>
        <div class="join_section">
            <p><input type="text" id="userId" class="join_btn" placeholder="Id"></p>
        </div>
        <div class="join_section">
            <p><input type="password" id="userPassword" class="join_btn" placeholder="Password"></p>
        </div>
        <div class="join_section">
            <p><input type="password" id="userPasswordConfirm" class="join_btn" placeholder="Confirm Password"></p>
        </div>
    </div>
    <div class="bottom_join">
        <input type="button" class="common_bottom_btn" value="Join" onclick="joinBoard()">
    </div>
</div>

</body>
</html>
<script th:src="@{/js/bJoin.js}" th:inline="javascript"></script>