<!DOCTYPE html>
<html lang="ko" xmlns xmlns:th="http://www.w3.org/1999/xhtml" :th="http://thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>회원가입</title>
    <script src="https://code.jquery.com//jquery-3.4.1.js"></script>
    <link th:href="@{/css/style.css}" rel="stylesheet" type="text/css">
</head>
<style>
    body {
        background: #efa5a5;
    }
</style>
<body>
<div class="board_join">
    <p class="join_title">Create Account</p>
    <div class="join_table">
        <div class="join_section">
            <p><input type="text" id="userId" class="join_btn" placeholder="Id"></p>
        </div>
        <div class="join_section">
            <p><input type="password" id="userPassword" class="join_btn" placeholder="Password"></p>
        </div>
        <div class="join_section">
            <p><input type="password" id="userPasswordConfirm" class="join_btn" placeholder="Confirm Password"></p>
        </div>
    </div>
    <div class="bottom_join">
        <input type="button" class="join_bottom_btn" value="Join" onclick="joinBoard()">
    </div>
</div>

</body>
</html>
<script>
    function joinBoard() {

        document.getElementById("userId").value = document.getElementById("userId").value.trim();
        if (document.getElementById("userId").value === 0){
            alert("아이디를 입력해주세요.");
            document.getElementById("userId").focus();
            return false;
        }

        if (document.getElementById("userId").value < 4){
            alert("아이디를 4글자 이상 입력해주세요.");
            document.getElementById("userId").focus();
            return false;
        }

        document.getElementById("userPassword").value = document.getElementById("userPassword").value.trim();
        if(document.getElementById("userPassword").value === 0){
            alert("비밀번호를 입력해주세요.");
            document.getElementById("userPassword").focus();
            return false;
        }

        document.getElementById("userPasswordConfirm").value = document.getElementById("userPasswordConfirm").value.trim();
        if(document.getElementById("userPassword").value !== document.getElementById("userPasswordConfirm").value){
            alert("비밀번호가 일치하지 않습니다.");
            return false;
        }

        const memberList = {
            userId: document.getElementById("userId").value,
            userPassword: document.getElementById("userPassword").value
        }

        $.ajax({
            url: '/userJoin',
            type: 'POST',
            data: memberList,
            success: function() {
                alert("성공하였습니다.");
                location.href="/home";
            },
            error: function() {
                alert("실패하였습니다.");
            }

        });


    }

</script>