<!DOCTYPE html>
<html lang="ko" xmlns xmlns:th="http://www.w3.org/1999/xhtml" :th="http://thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>게시글목록</title>
    <script src="https://code.jquery.com//jquery-3.4.1.js"></script>
    <link th:href="@{/css/style.css}" rel="stylesheet" type="text/css">
</head>
<body>
    <div class="container">
        <h2 class="title">게시글 목록</h2>
        <table class="board_list">
            <colgroup>
                <col th:width="10"/>
                <col th:width="50"/>
                <col th:width="10"/>
                <col th:width="20"/>
                <col th:width="10"/>
            </colgroup>
            <thead>
                <tr class="table_head">
                    <th scope="col" class="list_th">No</th>
                    <th scope="col" class="list_th">Title</th>
                    <th scope="col" class="list_th">Writer</th>
                    <th scope="col" class="list_th">Date</th>
                    <th scope="col" class="list_th">Hit</th>
                </tr>
            </thead>
            <tbody>
                <tr class="table_body" th:each="list:${list}" >
                    <td class="list_td list_td_no" th:text="${list.boardNum}"></td>
                    <td class="list_td"><a href="/" th:attrappend="href=${list.boardNum}" th:text="${list.title}"></a></td>
                    <td class="list_td" th:text="${list.writer}"></td>
                    <td class="list_td" th:text="${list.createdTime}"></td>
                    <td class="list_td" th:text="${list.hitCnt}"></td>
                </tr>
            </tbody>
            <tr>
                <td>
                    <input class="list_btn btn" type="button" value="글쓰기" onclick="location.href='/boardWritePage'"/>
                </td>
            </tr>
    </div>
</body>
</html>
<script>

</script>