<!DOCTYPE html>
<html lang="ko" xmlns xmlns:th="http://www.w3.org/1999/xhtml" :th="http://thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>로그인</title>
    <script src="https://code.jquery.com//jquery-3.4.1.js"></script>
    <link th:href="@{/css/style.css}" rel="stylesheet" type="text/css">
</head>
<style>
    body {
        background: #efa5a5;
    }
</style>
<body>
    <div class="board_login">
    <p class="login_title">Login</p>
        <div class="login_table">
            <div class="login_section">
                <input type="text" id="mId" class="login_btn" placeholder="Username">
            </div>
            <div class="login_section">
                <input type="password" id="mPassword" class="login_btn" placeholder="Password">
            </div>
            <div class="login_section">
                <button type="submit" class="login_bottom_btn" onclick="loginBoard()">Login</button>
            </div>
        </div>
    </div>
</body>
</html>
<script>
    function loginBoard() {

        const loginInfo = {
            mId: document.getElementById("mId").value,
            mPassword: document.getElementById("mPassword").value
        }

        $.ajax({
            url: '/memberLogin',
            type: 'POST',
            data: loginInfo,
            success: function (data) {
                if (data === 1) {
                    alert("성공하였습니다.");
                    location.href = "/home";
                } else {
                    alert("실패하였습니다.");
                }
            },
            error: function () {
                alert("실패하였습니다.");
            }
        });

    }

</script>