<!DOCTYPE html>
<html lang="ko" xmlns xmlns:th="http://www.w3.org/1999/xhtml" :th="http://thymeleaf.org">
<th:block th:fragment="headerFragment">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
    <link th:href="@{/css/style.css}" rel="stylesheet" type="text/css">
</head>
    <body>
    <div class="headerContainer">
        <div class="middle">
            <a th:href="@{/}"><img src="../images/home_btn.png" alt="home_btn_image" class="home_btn_image"></a>
        </div>
        <div class="header_btn_group" th:if="${session.login == null}">
            <a class="header_btn" th:href="@{/userJoinPage}">Join</a>
            <a class="header_btn" th:href="@{/loginPage}">Login</a>
        </div>
        <div class="header_btn_group2" th:if="${session.login != null}">
            <a class="header_btn2 logout_session" th:href="@{/userLogout}">Logout</a>
            <a class="header_btn2 login_session" th:inline="text">[[${session.login.userId}]]님</a>
        </div>
    </div>
    </body>
</th:block>
</html>