<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTO Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.example.board.mapper.BoardMapper">
    <select id="selectBoardList" parameterType="Criteria" resultType="BoardVo">
        SELECT board_num,
               writer,
               title,
               created_time,
               hit_cnt
        FROM t_board
        ORDER BY board_num DESC
        LIMIT #{startPage}, #{perPageNum}
       </select>

    <select id="selectBoardListNone"  resultType="BoardVo">
        SELECT board_num,
               writer,
               title,
               created_time,
               hit_cnt
        FROM t_board
        ORDER BY board_num DESC
       </select>
    <select id="totalRecordCount" resultType="int">
        SELECT
            COUNT(*)
        FROM
            t_board;
    </select>

    <insert id="insertBoard" parameterType="BoardVo">
        INSERT INTO t_board (board_num,
                             writer,
                             title,
                             content,
                             created_time,
                             hit_cnt)
        VALUES (#{boardNum},
                #{writer},
                #{title},
                #{content},
                now(),
                #{hitCnt})
        </insert>

    <select id="getBoardDetail" resultType="BoardVo" parameterType="int">
        SELECT
               board_num,
               writer,
               title,
               content,
               created_time,
               hit_cnt
        FROM
             t_board
        WHERE
              board_num = #{boardNum}
        </select>

    <update id="updateBoard" parameterType="BoardVo">
        UPDATE
            t_board
        SET
            title   = #{title},
            content = #{content}
        WHERE
              board_num = #{boardNum}
    </update>

    <delete id="deleteBoard" parameterType="int">
        DELETE FROM
            t_board
        WHERE
            board_num = #{boardNum}
    </delete>
    <update id="updateHitCount" parameterType="int">
        UPDATE
            t_board
        SET
            hit_cnt = hit_cnt+1
        WHERE
            board_num = #{boardNum}
    </update>
</mapper>