<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTO Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.example.board.mapper.BoardMapper">

    <!-- 게시글 전체 리스트 조회 for 화면 -->
    <select id="selectBoardList" parameterType="Criteria" resultType="BoardVo">
        SELECT board_num,
               writer,
               title,
               created_time,
               hit_cnt,
               comment_count
        FROM board_ex
        ORDER BY board_num DESC
            LIMIT #{startPage}, #{perPageNum}
    </select>

    <!-- 게시글 전체 리스트 조회 for RestApi -->
    <select id="selectBoardListNone" resultType="BoardVo">
        SELECT board_num,
               writer,
               title,
               created_time,
               hit_cnt,
               comment_count
        FROM board_ex
        ORDER BY board_num DESC
    </select>

    <!-- 게시글 전체 갯수 조회 for 페이징 -->
    <select id="totalRecordCount" resultType="int">
        SELECT COUNT(*)
        FROM board_ex;
    </select>

    <!-- 게시글 전체 리스트 체크박스 삭제-->
    <delete id="deleteBoardList" parameterType="int">
        DELETE
        FROM board_ex
        WHERE board_num = #{boardNum}
    </delete>

    <!-- 게시글 전체 리스트 댓글 개수 표시 -->
    <update id="updateCommentCount" parameterType="int">
            UPDATE board_ex b
            SET b.comment_count = (SELECT COUNT (comment_num) FROM comment_ex WHERE board_num = #{boardNum})
            WHERE b.board_num = #{boardNum}
    </update>


        <!-- 게시글 삽입 -->
    <insert id="insertBoard" parameterType="BoardVo">
        INSERT INTO board_ex (board_num,
                           writer,
                           title,
                           content,
                           created_time,
                           hit_cnt)
        VALUES (#{boardNum},
                #{writer},
                #{title},
                #{content},
                now(),
                #{hitCnt})
    </insert>

    <!-- 게시글 상세 조회 -->
    <select id="getBoardDetail" resultType="BoardVo">
        SELECT board_num,
               writer,
               title,
               content,
               created_time,
               hit_cnt
        FROM board_ex
        WHERE board_num = #{boardNum}
    </select>

    <!-- 게시글 수정 -->
    <update id="updateBoard" parameterType="BoardVo">
        UPDATE
            board_ex
        SET title   = #{title},
            content = #{content}
        WHERE board_num = #{boardNum}
    </update>

    <!-- 게시글 삭제 -->
    <delete id="deleteBoard" parameterType="int">
        DELETE
        FROM board_ex
        WHERE board_num = #{boardNum}
    </delete>

    <!-- 게시글 조회수 증가 -->
    <update id="updateHitCount" parameterType="int">
        UPDATE
            board_ex
        SET hit_cnt = hit_cnt + 1
        WHERE board_num = #{boardNum}
    </update>

</mapper>