<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTO Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.example.board.mapper.FileMapper">

    <!-- 파일 업로드 -->
    <insert id="insertFile" useGeneratedKeys="true" keyProperty="fileNum">
        INSERT INTO file_ex (
            file_original_name,
            file_saved_name,
            file_path,
            file_created_user
        )
        VALUES (#{fileOriginalName},
                #{fileSavedName},
                #{filePath},
                #{fileCreatedUser})
    </insert>

    <!-- boarNum 업데이트 -->
    <update id="insertBoardNum">
        UPDATE file_ex
        SET board_num = #{boardNum}
        WHERE file_num = #{fileNum}
    </update>

    <!-- 파일 조회 -->
    <select id="selectFile" parameterType="int" resultType="FileVo">
        SELECT file_num,
               file_original_name,
               file_saved_name,
               file_path,
               board_num
        FROM file_ex
        WHERE board_num = #{boardNum} and file_delete = 0
    </select>

    <!-- 파일 다운로드 -->
    <select id="fileDownload" parameterType="int" resultType="FileVo">
        SELECT file_original_name,
               file_saved_name,
               file_path
        FROM file_ex
        WHERE file_num = #{fileNum} and file_delete = 0
    </select>


</mapper>